body{
    background-color: burlywood;
}
img{
    
    max-width: 100%;
   
}
.active{
    display: block;
}


.container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3rem auto;
}

.card{
    width: calc(100% / 12 * 4);
}