img{
    display: none;
    max-width: 100%;
    text-align: center;
}
.active{
    display: block;
}


.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card{
    width: calc(100% / 12 * 4);
}